/* single element styling */

#body {
    position: static;
}

#chat-menu {
    height: 100%;
    width: 70%;
    background-color: rgb(90, 90, 90);
    border: 7px solid rgb(130, 130, 130);

    overflow: auto;
    padding-bottom: 300px;
}

#chat-menu-title {
    font-size: 60px;
}

#text-input {
    bottom: 50px;
    position: fixed;
    background-color: rgb(100, 100, 100);

    z-index: 10;
    padding: 20px;
    border: 2px solid white;
    color: white;
    font-size: 46px;
}


/* classes */

.horizontally-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



/* chat-bubble obj */

.chat-bubble {
    margin-top: 20px;
    margin-left: calc(10% - 5px);
    max-width: 80%;
    width: auto;
    font-size: 30px;
    border: 5px solid rgb(130, 130, 130);
    color: white;
    text-align: center
}


